<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aystzh.com.study.dao.security.SysAdminMapper">
    <resultMap id="BaseResultMap" type="aystzh.com.study.entity.security.SysAdmin">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="email" jdbcType="CHAR" property="email"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="login_time" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifier" jdbcType="INTEGER" property="modifier"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <select id="selectHrRolesById" resultType="aystzh.com.study.entity.security.SysRole">
      SELECT
      r.id,
      r.name,
      r.description
  FROM
      sys_role r,
      sys_admin_role hrr
  WHERE
      hrr.role_id = r.`id`
      AND hrr.admin_id = #{id}
  </select>
</mapper>